<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adara - Modern & Multipurpose eCommerce Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/jarallax.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login-scss.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <div class="container-login">
        <div class="container__wrapper">
            <div class="login__wrapper">
                <div class="log__box log__login">
                    <h2>Already an account?</h2>
                    <button class="btn__login">Sign in</button>
                </div>
                <div class="log__box log__logup">
                    <h2>Don't have an account</h2>
                    <button class="btn__logup">Sign up</button>
                </div>
            </div>
            <div class="login__form active">
                <div class="log__form-form login__signin-form">
                    <h3>Sign In</h3>
                    <form action="">
                        <input type="email" name="email" id="" placeholder="Email">
                        <input type="password" name="password" placeholder="Password" id="">
                        <button>Sign in</button>
                        <a href="#" class="forgot">Forgot password</a>
                    </form>
                </div>
                <div class="log__form-form login__signup-form">
                    <h3>Sign Up</h3>
                    <form action="">
                        <input type="text" name="username" id="" placeholder="Username">
                        <input type="email" name="email" id="" placeholder="Email">
                        <input type="password" name="password" placeholder="Password" id="">
                        <button>Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- JS here -->
<script src="js/vendor/jquery-3.5.0.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/jarallax.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="js/login.js"></script>

</html>